<html>
<head>
	<title></title>
</head>
<body>
<a href="http://senseiteachr.com:8080/profile">My Profile</a> <br><br>
<a href="http://senseiteachr.com:8080/subject/physics">Physics</a> <br>
<a href="http://senseiteachr.com:8080/subject/chemistry">Chemistry</a> <br>
<a href="http://senseiteachr.com:8080/subject/literature">Literature</a> <br>
<a href="http://senseiteachr.com:8080/subject/math">Math</a> <br>

</body>
</html>
